@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

body {
    background: white;   
}



.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Marcellus", serif;
    font-size: xx-large;
    row-gap: 1px;
    border-radius: 100%;
    border-color: #030A8C;
}


.container > div {  
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Marcellus", serif;
    font-size: xx-large;
    background: linear-gradient(whitesmoke, whitesmoke) padding-box,
    linear-gradient(to right, rgb(199, 56, 80), rgb(3, 82, 29), rgb(26, 26, 143)) border-box;
  border-radius: 10em;
  border: 2px solid transparent;
    padding: 0px;
    margin: 10px;
}

.container > div > a > img {  
    width: 100%;  
    height: 100%;
    object-fit: cover;
}



nav {
    background-color: #333;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
  }
  
  li > a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  li > a:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Adiciona um fundo escuro semi-transparente ao passar o mouse */
  }

